body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5 {
  text-shadow: 0px 0px 8px #fff;
}
#container-countdown {
  width: 800px;
  margin: 20px auto 0 auto;
  text-align: center;
}
#container {
  margin: 0 auto;
  text-align: center;
}
#header {
  position: absolute;
  width: 100%;
}
#buttons {
  position: absolute;
  bottom: 20px;
  width: 100%;
}
svg {
  display: none;
}
#chart rect.QLD,
#chart path.QLD {
  fill: rgba(200,0,50,0.8);
}
#chart rect.NSW,
#chart path.NSW {
  fill: rgba(0,0,200,0.8);
}
.axis text {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.button {
  background: rgba(50,50,50,0.5);
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  min-width: 100px;
  margin: 4px;
  padding: 4px;
  box-shadow: 0 0 8px rgba(255,255,255,0.5);
}
.button:hover {
  border: 1px solid rgba(255,255,255,0.8);
  background: rgba(50,50,50,0.9);
}
.button.selected {
  background: rgba(255,255,255,0.9);
  color: #000;
}
circle {
  stroke: #000;
  stroke-width: 1;
  cursor: pointer;
}
circle.NSW {
  fill: #0ff;
}
circle.NSW hover {
  fill: #00f;
}
circle.QLD {
  fill: #ffc0cb;
}
circle.QLD hover {
  fill: #f00;
}
circle hover {
  stroke-width: 4;
}
.tooltip {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  padding: 10px;
  background: #fff;
  border-radius: 2px;
  border: 2px solid #333;
}
