body {
  margin: 0;
  padding: 0;
}
svg {
  display: none;
}
#chart rect.QLD,
#chart path.QLD {
  fill: rgba(200,0,50,0.8);
}
#chart rect.NSW,
#chart path.NSW {
  fill: rgba(0,0,200,0.8);
}
.axis text {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.button {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 4px;
  background: #ccc;
  margin: 4px;
  cursor: pointer;
}
.button hover {
  background: #aaa;
}
circle {
  stroke: #000;
  stroke-width: 1;
  cursor: pointer;
}
circle.NSW {
  fill: #0ff;
}
circle.NSW hover {
  fill: #00f;
}
circle.QLD {
  fill: #ffc0cb;
}
circle.QLD hover {
  fill: #f00;
}
circle hover {
  stroke-width: 4;
}
.tooltip {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  padding: 10px;
  background: #fff;
  border-radius: 2px;
  border: 2px solid #333;
}
